.contacts {
	padding: 110px 0px 42px 0px;
	@media (max-width: ($md3 + px)) {
		padding: 84px 0px 48px 0px;
	}

	&__info {
		text-align: center;
	}

	&__title {
		margin: 0px 0px 43px 0px;
	}

	&__text {
		margin: 0px 0px 46px 0px;
	}
}
